[user]
  name = Keith Mazanec
  email = keith@devforward.com
  signingkey = ~/.ssh/id_ed25519.pub

[url "git@github.com:"]
  insteadOf = https://github.com/

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers

[core]
  editor = vim
  excludesfile = ~/.gitignore

[commit]
  gpgsign = true

[push]
  default = current
  autoSetupRemote = true

[pull]
  rebase = false

[color]
  ui = true

[alias]
  ap = add -p
  co = checkout
  doff = reset HEAD^
  tree = log --graph --oneline --decorate --color --all
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  trim = !sh -c 'git branch --merged | grep -v \"\\*\" | grep -v master | grep -v dev | xargs -n 1 git branch -d'

[includeIf "gitdir:~/rentbutter/"]
  path = ~/.gitconfig-rentbutter

