[user]
  name = Keith Mazanec
  email = k.mazanec@gmail.com
[core]
  editor = vim
[color]
  ui = true
[push]
  default = tracking
[alias]
  co = checkout
  doff = reset HEAD^
  tree = log --graph --oneline --decorate --color --all
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  trim = !sh -c 'git branch --merged | grep -v \"\\*\" | grep -v master | grep -v dev | xargs -n 1 git branch -d'
[url "git@github.com:"]
  insteadOf = https://github.com/
